<div style="height: 60vh;">
  <section class="plan-card">
    <div class="plan-type">Free</div>
    <div class="plan-type-desc">Perfect to get started</div>
    <div class="pricing d-flex flex-start">
       <div class="currency-symbol">$</div>
       <div class="value">60</div>
       <div class="info">per user/month</div>
    </div>
    <div class="desc">
      <div class="title">Free tier includes :</div>
      <ul>
          <li>Upto 10gb of data usage</li>
          <li>1000 API calls per month</li>
          <li>upto 4 users</li>
          <li>Ads always present</li>
      </ul>
    </div> 
    <div><button type="button">Get started</button></div>     
  </section>
</div>
