<div class="d-flex flex-column productlisting_ratecard">
  <div class="d-flex flex-column first_box justify-content-between">
    <div class="d-flex justify-content-center">
      <img src="../../../../../assets/images/configure/Ellipse_1126.svg" />
    </div>
    <div class="d-flex justify-content-between">
      <div>
        <img src="../../../../../assets/images/configure/Star_1.svg" />
        <span class="d-inline-block ml-8 text-white">4.7</span>
      </div>
      <div>
        <img src="../../../../../assets/images/configure/Messenger.svg" />
        <span class="d-inline-block ml-8 text-white">311</span>
      </div>
      <div>
        <p class="text-white">4</p>
      </div>
      <div>
        <p class="text-white">3yrs</p>
      </div>
    </div>
  </div>
  <div class="ratecard_details">
    <div class="ratecard_details_heading">
      <h3>{{heading}}</h3>
      <p>{{subheading}}</p>
    </div>
    <div class="ratecard_details-desc">
      <p class="desc_owner" >{{ownerid}}</p>
      <p class="desc_description">{{description}}</p>
    </div>
    <div class="ratecard_details_button">
      <div class="button_1">
        <button>Free Tier</button>
      </div>
      <div class="button_2">
        <button>Open Source</button>
      </div>
    </div>
    <div class="date ">
      <p>23 May 2022, 5pm GMT</p>

    </div>
  </div>






</div>
