*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}



.first_box{
  width: 19rem;
  height: auto;
  border-radius: 6px;


  background: linear-gradient(135deg, #C6C6C6 0%, #5A5A5A 100%);
}
.ratecard_details{
  height: auto;
  width: 19rem;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 4px 8px 0px rgba(154, 154, 154, 0.15);
  .ratecard_details_heading{
    height: 3rem;
    width: 16rem;
    margin:4px 0 16px 4px;
    h3{
      font-family: 'Roboto-Medium';/*500*/
      width: 100%;
    }
    p{
      font-family: 'Roboto-light';

    }



  }
  .ratecard_details_button{
    margin-top: 0.5rem;
    .button_1{
      display: inline-flex;
      padding: 1px 0.5rem;
      align-items: flex-start;
      border-radius: 0.25rem;
      background-color: #51BB10;
      margin: 0.5rem 0.5rem 0px 0.5rem;
      button{
        background-color: #51BB10;
        color:white;
        border:none;
      }

    }
    .button_2{
      display: inline-flex;
      padding: 1px 8px;
      align-items: flex-start;
      border-radius: 4px;
      background: #FF698D;
      button{
        background-color: #FF698D;
        color: white;
        border: none;
      }


    }

  }
  .ratecard_details-desc{
    .desc_owner{
      color: #2C2C2C;
      opacity:0.6;
      font-family: 'Roboto-Medium';/*500*/
      width: 60%;
    }
    .desc_description{
      color: #2C2C2C;
      opacity:0.8;
      font-family: 'Roboto-Regular';/*400*/

    }
  }


}
.date{
  margin-top: 0.25rem;
  margin-left: 8px;
  font-size: smaller;




  p{
    font-family: 'Roboto-light';
    color: #858585;


  }
}

