<section>
    <!-- <img src="../../../../../../assets/images/rate-card/wallet/credit-card.png" alt=""> -->
    <div class="credit-card">
        <div class="card-images">
             <img src="../../../../../../assets/images/rate-card/wallet/reader.png" alt="">
             <img src="../../../../../../assets/images/rate-card/wallet/name.png" alt="">
            
        </div>
        <div class="details">
            <div class="heading"> 
                <p class="small" >Card Number</p>
                <h2 class="number">3141  5926  5358  9793</h2>
            </div>
            <div class="details1">
                <div>
                    <p class="small" >Cardholder Namw</p>
                    <h2 class="details2">Tulika Pandey</h2>
                </div>
                <div>
                    <p class="small" >Expiration</p>
                    <h2 class="details2">06/22</h2>
                </div>

            </div>
        </div>
    </div>
</section>