<section class="card-component">

    <app-leftcomponent></app-leftcomponent>
    <app-right-component></app-right-component>
    <hr>
</section>
<section>
    <div style="width: 63rem;">

        <hr>
    </div>
<div class="card-bottom">
    <div class="card-left">
        <h1 class="recent">Recent Activity</h1>
        <h3 class="view">View all</h3>
    </div>

    <div class="card-right">
        <h1 class="montly">Monthly</h1>
        <h1 class="montly1">Weekly</h1>
        <div class="today">Today</div>
    </div>
</div>



</section>
<section>
    <table class="table">
        <tr>
                <td class="fImg">
                    <img src="../../../../../assets/images/rate-card/wallet/ic_sell.png" alt="">
                </td>
                <td class="withdraw">
                    Withdraw
                </td>
                <td class="time">
                    06:24:45 AM
                </td>
                <td class="amount">
                    -$542
                </td>
                <td class="stat">
                    Pending
                </td>
        </tr>
        <tr>
            <td class="fImg">
                <img src="../../../../../assets/images/rate-card/wallet/ic_buy.png" alt="">
            </td>
            <td class="withdraw">
                Topup
            </td>
            <td class="time">
                06:24:45 AM
            </td>
            <td class="amount">
                +$5542
            </td>
            <td class="stat1">
                Completed   
            </td>
    </tr>
    <tr>
        <td class="fImg">
            <img src="../../../../../assets/images/rate-card/wallet/ic_sell.png" alt="">
        </td>
        <td class="withdraw">
            Withdraw
        </td>
        <td class="time">
            06:24:45 AM
        </td>
        <td class="amount">
            -$542
        </td>
        <td class="stat">
            Pending
        </td>
</tr>
<tr>
    <td class="fImg">
        <img src="../../../../../assets/images/rate-card/wallet/ic_buy.png" alt="">
    </td>
    <td class="withdraw">
        Topup
    </td>
    <td class="time">
        06:24:45 AM
    </td>
    <td class="amount">
        +$5542
    </td>
    <td class="stat1">
        Completed   
    </td>
</tr>

    </table>
</section>