<section class="configure_login">
  <div class="configure_login-heading">
    <h1>What's the first thing users should see when they come to your holacracy?</h1>
  </div>
  <div class="configure_login-login d-flex ">
    <div class="configure_login-login-left" >
      <div>
        <p>aventiv</p>
      </div>
      <div>
        <p>Invite expires in 3 hrs</p>
      </div>

    </div>
    <div class="configure_login-login-right" >
      <img src="./assets/images/rate_card_config/Screenshot 2023-06-07 at 5.47 23.png"/>

    </div>


  </div>

</section>
