<div class="myOrganisation_tableRow d-flex justify-content-start align-items-center">
    <div ><input type="checkbox" name="selectAll" id="selectAll"></div>
    <div class="d-flex justify-content-start align-items-center">
        <div class="ms-2"><img src="../../../../../assets/images/myOrganisation/Avatar.png" alt="profilepic" ></div>
        <div class="ms-3">{{item.userName}}</div>
    </div>
    <div >{{item.login}}</div>
    <div >{{item.role}}</div>
    <div class="d-flex  justify-content-evenly">
        <div >{{item.read}}</div>
        <div >{{item.write}}</div>
        <div >{{item.execute}}</div>
    </div>
    <div class="d-flex justify-content-end" ><img src="../../../../../assets/images/myOrganisation/dots.svg" alt="options" srcset=""></div>
    
</div>


<!-- {userProfilePic:'../../../../../assets/images/myOrganisation/Avatar.png',
userName:'tulika ',
login:'@tulip',
role:'User',
read:'Yes',
write:'Yes',
execute:'Yes'} -->