<section class="card2">
    <div class="upperdiv">
        <img src="assets/images/Appearance_settings/card_2_img_01.png"/>
    </div>
    <div class="lowerdiv">
        <h3 class="car2_heading">
            Gaian And Ark to launch nationwide Broadcast internet Network Using NextGen TV        </h3>
        <p class="card2_desc">
            Gaian Solutions and Ark Multicasting today announced a joint venture to establish broadcast internet networks that they say “will swiftly cover over 30% of the country, spearheading the NextGenTV market in the United States.”        </p>
    </div>
</section>
