<div class="billing d-flex flex-column align-items-center">
  <div class="billing_heading d-flex">
    <div>
      <h2>You're all Set!</h2>
    </div>
  </div>
  <div class="billing_image">
    <img src="../../../../../assets/images/configure/Partnership.svg"/>
  </div>
  <div class="billing_details">
    <div>
      <p>To invite Tenants to your Marketplace, you must configure the rate cards for it</p>
    </div>
    <div class="ms-4 mt-4">
      <p>Go to <a href="">Moscribe</a> and set up your rate cards and subscription plans now </p>
    </div>
  </div>
</div>
