<div class="frame1">
  <div class="frame1_heading d-flex justify-content-between">
    <div>
      <p>Product Representation</p>
    </div>
    <div>
      <img src="../../../../../assets/images/logo/Move Right 1.svg">

    </div>

  </div>
  <div class="d-flex flex-column">
    <div class="d-flex">
      <img src="../../../../../assets/images/logo/Play List 1.svg">
      <img src="../../../../../assets/images/logo/Landscape 1.svg">
      <img src="../../../../../assets/images/logo/Music Note 2.svg">
    </div>
    <div>
      <img src="../../../../../assets/images/logo/User Experience Design.svg">
      <img src="../../../../../assets/images/logo/Browser Favorite Star.svg">
      <img src="../../../../../assets/images/logo/Server Download 1.svg">
    </div>
    <div>
      <img src="../../../../../assets/images/logo/">
    </div>
    <div></div>
    <div></div>
  </div>
  <div></div>
  <div></div>
</div>
