<section id="myOrganisation">
    <div class="myOrganisation-header mb-3">Create your team to manage Aventiv marketplace</div>
    <div class="myOrganisation-body d-flex flex-column justify-content-start">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <div class="d-flex justify-content-evenly align-items-center myOrganisation-export" >
                <div ><img src="../../../../../assets/images/myOrganisation/export.svg" alt="export"></div>
                <div>EXPORT</div>
            </div>
            <div class="d-flex justify-content-between align-items-center" style="width: 35%;">
                <div class="d-flex justify-content-evenly  myOrganisation-search">
                    <div ><img src="../../../../../assets/images/myOrganisation/search.svg" alt="searchIcon"></div>
                    <div>Search</div>
                </div>
                <div class="myOrganisation-AddUser"><button type="button" class="btn btn-primary" (click)="openModal()">ADD USER</button></div>
                <div><img src="../../../../../assets/images/myOrganisation/dots.svg" alt="options" srcset=""></div>
            </div>
        </div>
        <div class="myOrganisation_tableHeader d-flex justify-content-start align-items-center">
            <div class="d-flex justify-content-center"><input type="checkbox" name="selectAll" id="selectAll"></div>
            <div >USER</div>
            <div >LOGIN</div>
            <div >ROLE</div>
            <div class="d-flex  justify-content-evenly">
                <div >READ</div>
                <div >WRITE</div>
                <div >EXECUTE</div>
            </div>
            
        </div>
     

        <app-table-simple-row  [item]=" getSuperAdminMember()"></app-table-simple-row>

        <ng-container *ngFor="let obj of getUserMember()">
            <app-table-category-row [item]="obj"></app-table-category-row>
            <app-table-simple-row *ngFor="let member of obj.members" [item]="member"  ></app-table-simple-row>
        </ng-container>

        <div class="myOrganisation-footer d-flex justify-content-end align-items-center gap-3">
            <div class="d-flex justify-content-end align-items-center gap-1">
                <p style="margin-bottom: 0px;">Rows per page:</p>
                <select name="rows" id="rows" style="border-style:none ; background-color: var(--white);">
                    <option value="10">10</option>
                    <option value="30">30</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
            </div>
            <div>1 of 4</div>
            <div class="d-flex justify-content-end align-items-center gap-3">
                <div><img src="../../../../../assets/images/myOrganisation/next.svg" alt="previous" style=" transform: rotate(180deg);"></div>
                <div><img src="../../../../../assets/images/myOrganisation/next.svg" alt="next"></div>
            </div>
        </div>


    </div>
</section>


