<div class="message_center">
  <div class="message_center-left">
    <div class="d-flex">
      <div class="message_center-left-left_toggle message_box">
        <img
          class="img_position"
          src="./assets/images/rate_card_config/Interface_Help_Question_Message.png"
        />
        <span class="left_text"> Sales Inquiries</span>
      </div>
      <div class="message_center-left-right_toggle message_box">
        <img
          class="img_position"
          src="./assets/images/rate_card_config/Shopping_Store_Phone.png"
        />
        <span class="left_text"> Vendor Responses</span>
      </div>
    </div>
    <div class="date"><span>08 June 2023</span></div>
    <div class="message_center-left-api d-flex">
      <div>
        <img
          class="api-img"
          src="./assets/images/rate_card_config/Ellipse.svg"
        />
      </div>
      <div class="message_center-left-api-heading">
        <p class="api-text">Google API</p>
        <p>mobius@gaiansolutions.com</p>
      </div>
    </div>
    <div class="message_center-left-api d-flex">
      <div>
        <img
          class="api-img"
          src="./assets/images/rate_card_config/Ellipse.svg"
        />
      </div>
      <div class="message_center-left-api-heading">
        <p class="api-text">Google API</p>
        <p>mobius@gaiansolutions.com</p>
      </div>
    </div>
    <div class="message_center-left-api d-flex">
      <div>
        <img
          class="api-img"
          src="./assets/images/rate_card_config/Ellipse.svg"
        />
      </div>
      <div class="message_center-left-api-heading">
        <p class="api-text">Google API</p>
        <p>mobius@gaiansolutions.com</p>
      </div>
    </div>
  </div>
  <div class="message_center-right">
    <div class="d-flex justify-content-between">
      <div class="message_center-main">
        <h3 >Message Center</h3>
      </div>
      <div class="d-flex">
        <div class="left_side">
          <span>Sort</span>
          <img src="./assets/images/rate_card_config/Sort_Descending.svg" />
        </div>
        <div class="right_side">
          <span>Search</span>
          <img src="./assets/images/rate_card_config/Interface_Search.svg" />
        </div>
      </div>
    </div>
    <div class="right-heading d-flex">
      <div class="right-heading-width">
        <p class="right-topheading">Product</p>
        <p class="right-bottomheading">Google API</p>
      </div>
      <div class="right-heading-width">
        <p class="right-topheading">Avaliable From</p>
        <p class="right-bottomheading">DEC 13,2022.12:22PM</p>

      </div>
      <div class="right-heading-width">
        <p class="right-topheading">Alliance Vendors</p>
        <p class="right-bottomheading">01</p>
      </div>
      <div class="right-heading-width">
        <p class="right-topheading">Status</p>
        <p class="right-bottomheading">Active</p>
      </div>
    </div>
    <div class="d-flex justify-content-between ms-4 mt-4 rounded-top right-tableheader">
      <div class="right-tableheader-1">
        <p>Gaian Solutions</p>
      </div>
      <div class="d-flex">
        <div class="right-tableheader-2">
          <p>Billing Every 2 months</p>
        </div>

        <div class="right-tableheader-3">
          <span>Approved</span>
          <img
            src="./assets/images/rate_card_config/Interface_Validation_Check_Square_1.svg"
          />
        </div>
      </div>
    </div>

    <div class="d-flex right-tablecolumn ">
      <div class="firstcolumn"><p class= "text-dark ">Name</p></div>
      <div class="secondcolumn"><p class= "text-dark ">SaaS Fee</p></div>
      <div class="thirdcolumn"><p class= "text-dark ">Paas Fee</p></div>
      <div class="fourthcolumn"><p class= "text-dark ">Consumer Revenue Share</p></div>
      <div class="fifthcolumn"><p class= "text-dark ">Data as Currency</p></div>
      <div class="sixthcolumn"><p class= "text-dark ">Proposed Date</p></div>
    </div>
    <div class="d-flex flex-column">
      <div class=" firstchild d-flex flex-row ">
        <div class="firstcolumn"><p>Product 007</p></div>
        <div class="secondcolumn"><p>$582/Month</p></div>
        <div class="thirdcolumn"><p>$926/Month</p></div>
        <div class="fourthcolumn"><p>64%</p></div>
        <div class="fifthcolumn"><p>No</p></div>
        <div class="sixthcolumn"><p>Dec 13,2022</p></div>
      </div>
      <div class="right-tablecolumnvalues d-flex flex-row">
        <div class="firstcolumn"><p>Product 007</p></div>
        <div class="secondcolumn"><p>$582/Month</p></div>
        <div class="thirdcolumn"><p>$926/Month</p></div>
        <div class="fourthcolumn"><p>64%</p></div>
        <div class="fifthcolumn"><p>No</p></div>
        <div class="sixthcolumn"><p>Dec 13,2022</p></div>
      </div>
      <div class="right-tablecolumnvalues d-flex flex-row">
        <div class="firstcolumn"><p>Product 007</p></div>
        <div class="secondcolumn"><p>$582/Month</p></div>
        <div class="thirdcolumn"><p>$926/Month</p></div>
        <div class="fourthcolumn"><p>64%</p></div>
        <div class="fifthcolumn"><p>No</p></div>
        <div class="sixthcolumn"><p>Dec 13,2022</p></div>
      </div>
    </div>
  </div>
</div>
