<section class="general_bussiness">
 <form>
    <div class="d-flex general_bussiness-input">
        <div class="general_bussiness-input00">
            <label>Holacracy Name</label>
            <div class="input">
                <input class='form-controll' type="text" />
                <div class="star">
                  *
                </div>
            </div>
        </div>
        <div class="general_bussiness-input00">
            <label>Holacracy Url</label>
            <div class="input">
                <input class='form-controll' type="text" />
                <div class="star">
                  *
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <label>Marketplace description / Punchline</label>
        <div class="input">
            <input class='form-controll' type="text" />
            <div class="star">
              *
            </div>
        </div>
    </div>
    <div class="">
        <label>Tags</label>
        <div class="input">
            <input class='form-controll' type="text" />
            <div class="star">
              *
            </div>
        </div>
    </div>
    <div class="">
        <label>Mission</label>
        <div class="input">
            <input class='form-controll' type="textarea" />
            <div class="star">
              *
            </div>
        </div>
    </div>
    <div class="">
        <label>vision</label>
        <div class="input">
            <input class='form-controll' type="" />
            <div class="star">
              *
            </div>
        </div>
    </div>
    <div class="">
        <label>value</label>
        <div class="input-textarea">
            <textarea class='form-controll ' type="text" >
            </textarea>
            <div class="star">
                *
            </div>
        </div>
    </div>
 </form>
</section>