.general_bussiness{
    width: 60%;

}
label{
    color: var(--black);
    font-size: 1.4rem;
    line-height: 150%;
    font-weight: 500;
    opacity: 0.699999988079071;
}
.general_bussiness-input{
    width: 100%;
    column-gap: 2rem;
}
.general_bussiness-input00{
    width: 50%;
}

