<section id="tenant_behaviour">
    <div class="tenant_behaviour-header">Tenant Behaviour</div>
    <div class="tenant_behaviour-body ">
       
        <div class="d-flex mb-3">
            <label class="switch"><input type="checkbox"  [(ngModel)]="enableOptions.checkbox1" (change)="toggleOptions()"/> <span class="slider"></span></label>
            <div class="opt_txt ms-3">Allow Tenants to communicate with each other outside of an alliance</div>
        </div>
        <div>
            <div class="d-flex">
                <label class="switch"><input type="checkbox" [(ngModel)]="enableOptions.checkbox2" (change)="toggleOptions()" /> <span class="slider"></span></label>
                <div class="opt_txt ms-3">Allow Tenants to add new participants to the organisation</div>
            </div>
            <div class="tenant_behaviour-opt_container radio-button d-flex mb-3 ">

                    <div>
                        <input type="radio" id="addnewparticipants1" name="newParticipantsToOrg" value="XP" [(ngModel)]="tenantBehaviour.AllowTenantsToAddNewParticipantsToOrganisation" [disabled]="!enableOptions.checkbox2">
                    <label for="addnewparticipants1">XP only</label>
                    </div>
                    <div >
                        <input type="radio" id="addnewparticipants2" name="newParticipantsToOrg" value=">10Alliances" [(ngModel)]="tenantBehaviour.AllowTenantsToAddNewParticipantsToOrganisation" [disabled]="!enableOptions.checkbox2">
                    <label for="addnewparticipants2">More than 10 alliances</label>
                    </div>
                    <div >
                        <input type="radio" id="addnewparticipants3" name="newParticipantsToOrg" value="ARR>1M USD" [(ngModel)]="tenantBehaviour.AllowTenantsToAddNewParticipantsToOrganisation" [disabled]="!enableOptions.checkbox2">
                    <label for="addnewparticipants3">For ARR >1M USD</label>
                    </div>
                  
            </div>

        </div>

        <div>    
            <div class="d-flex">
                <label class="switch"><input type="checkbox"  [(ngModel)]="enableOptions.checkbox3" (change)="toggleOptions()"/> <span class="slider"></span></label>
                <div class="opt_txt ms-3">What kinds of Tenants are allowed on the marketplace ?</div>
            </div>
            <div class="tenant_behaviour-opt_container radio-button d-flex mb-3 ">

                    <div>
                        <input type="radio" id="kindOfTenants1" name="kindOftenantAllowed" value="All" [(ngModel)]="tenantBehaviour.KindsOfTenantsAllowedToMarketplace" [disabled]="!enableOptions.checkbox3">
                    <label for="kindOfTenants1">All types</label>
                    </div>
                    <div >
                        <input type="radio" id="kindOfTenants2" name="kindOftenantAllowed" value="Infrastructure" [(ngModel)]="tenantBehaviour.KindsOfTenantsAllowedToMarketplace" [disabled]="!enableOptions.checkbox3">
                    <label for="kindOfTenants2">Infrastructure only</label>
                    </div>
                    <div >
                        <input type="radio" id="kindOfTenants3" name="kindOftenantAllowed" value="Experience" [(ngModel)]="tenantBehaviour.KindsOfTenantsAllowedToMarketplace" [disabled]="!enableOptions.checkbox3">
                    <label for="kindOfTenants3">Experience only</label>
                    </div>
                    <div >
                    <input type="radio" id="kindOfTenants4" name="kindOftenantAllowed" value="Content" [(ngModel)]="tenantBehaviour.KindsOfTenantsAllowedToMarketplace" [disabled]="!enableOptions.checkbox3">
                    <label for="kindOfTenants4">Content only</label>
                    </div>
                    <div >
                        <input type="radio" id="kindOfTenants5" name="kindOftenantAllowed" value="Monetisation" [(ngModel)]="tenantBehaviour.KindsOfTenantsAllowedToMarketplace" [disabled]="!enableOptions.checkbox3">
                        <label for="kindOfTenants5">Monetisation only</label>
                    </div>
                    <div >
                        <input type="radio" id="kindOfTenants6" name="kindOftenantAllowed" value="Operators" [(ngModel)]="tenantBehaviour.KindsOfTenantsAllowedToMarketplace" [disabled]="!enableOptions.checkbox3">
                        <label for="kindOfTenants6">Operators only</label>
                    </div>
                    
            </div>

        </div>


    </div>  
</section>
   <!-- <button (click)="submitAnswer()">Submit</button> -->