.general_bussiness_info{
    width: 60%;
}
label{
    color: var(--black);
    opacity: 0.699999988079071;
    font-size: 1.1rem;
    line-height: 150%;
    font-weight: 500;
}
.general_bussiness_info-input{
    width: 100%;
    column-gap: 2rem;
    margin-bottom: .5rem;
}
.general_bussiness_info-input00{
    width: 50%;
}
.mb-24px{
    margin-bottom: 24px;
}
.general_bussiness_info-Tag div{
    width: 93%;
}
.general_bussiness_info-Tag{
    column-gap: 1%;
}

.general_bussiness_info-Tag select{
    width: 6%;
}
.general_bussiness_info-input01{
    width: 32.1%;
}
.general_bussiness_info-input10{
    width: 65%;
}
.general_bussiness_info-input11{
    width: 35%;
}
.bg-img{
    background-size: 93%;
}

.info-circle{
margin-left: 8px;
width: 4.5%;
max-width: 26px;
}