.general_bussiness_info{
    width: 60%;
}
label{
    color: var(--black);
    font-size: 1.1rem;
    line-height: 150%;
    font-weight: 500;
    opacity: 0.699999988079071;
}
.general_bussiness_info-input{
    width: 100%;
    column-gap: 2rem;
    margin-bottom: .5rem;
}
.general_bussiness_info-input00{
    width: 50%;
}
.mb-24px{
    margin-bottom: 24px;
}
.general_bussiness_info-Tag div{
    width: 93%;
}
.general_bussiness_info-Tag{
    column-gap: 1%;
}

.general_bussiness_info-Tag select{
    width: 6%;
}

