<div class="ml-2 marketplace_listing">
  <div class="marketplace_listing_heading">
    <h2>How are Products presented to your users ?</h2>
  </div>
  <div class="d-flex main_page ">
    <div class="side_column  ">
      <div>
        <h5>Prices</h5>
        <hr />

        <div class="d-flex flex-column side_column_firstbox  ms-2">
          <div>
            <input
              type="checkbox"
              id="Price1"
              name="Price"
              value="AdBased"
              class="me-2"
            />
            <label for="Price1"> Ad Based</label>
          </div>
          <div>
            <input
              type="checkbox"
              id="Price2"
              name="Price"
              value="Freemium"
              class="me-2"
            />
            <label for="Price2">Freemium</label>
          </div>
          <div>
            <input
              type="checkbox"
              id="Price3"
              name="Price"
              value="Paid"
              class="me-2"
            />
            <label for="Price3">Paid</label>
          </div>
          <div>
            <input
              type="checkbox"
              id="Price4"
              name="Price"
              value="Discounted for Giverments"
              class="me-2"
            />
            <label for="Price4">Discounted for Goverments</label>
          </div>
          <div>
            <input
              type="checkbox"
              id="Price5"
              name="Price"
              value="Discounted for Nonprofits"
              class="me-2"
            />
            <label for="Price5">Discounted for Nonprofits</label>
          </div>
        </div>
      </div>
      <div>
        <div>
          <h5>Ratings</h5>
        </div>
        <hr />
        <div class="side_column_secondbox ms-2">
          <div class="star-rating d-flex">
            <div class="d-flex">
              <input type="checkbox" name="firstrating" />
            </div>
            <div class="star-container ms-2">
              <input
                type="radio"
                id="star11"
                name="rating1"
                value="1"

                checked
              />
              <label [style.color]="selectedWord" for="star11"></label>
              <input #inputElement type="radio" id="star12" name="rating1" value="2" />
              <label [style.color]="selectedWord" for="star12"></label>
              <input #inputElement type="radio" id="star13" name="rating1" value="3" />
              <label for="star13" class="star-label" [style.color]="selectedWord"></label>
              <input #inputElement type="radio" id="star14" name="rating1" value="4" />
              <label for="star14"></label>
              <input #inputElement type="radio" id="star15" name="rating1" value="5" />
              <label for="star15"></label>
            </div>
          </div>
          <div>
            <div class="star-rating d-flex">
              <div class="d-flex">
                <input type="checkbox" name="firstrating" />
              </div>
              <div class="star-container ms-2">
                <input type="radio" id="star21" name="rating2" value="1" />
                <label for="star21"></label>
                <input
                  type="radio"
                  id="star22"
                  name="rating2"
                  value="2"
                  checked
                />
                <label for="star22"></label>
                <input type="radio" id="star23" name="rating2" value="3" />
                <label for="star23"></label>
                <input type="radio" id="star24" name="rating2" value="4" />
                <label for="star24"></label>
                <input type="radio" id="star25" name="rating2" value="5" />
                <label for="star25"></label>
              </div>
            </div>
            <div class="star-rating d-flex">
              <div class="d-flex">
                <input type="checkbox" name="firstrating" />
              </div>

              <div class="star-container ms-2 ">
                <input type="radio" id="star31" name="rating3" value="1" />
                <label for="star31"></label>
                <input type="radio" id="star32" name="rating3" value="2" />
                <label for="star32"></label>
                <input
                  type="radio"
                  id="star33"
                  name="rating3"
                  value="3"
                  checked
                />
                <label for="star33"></label>
                <input type="radio" id="star34" name="rating3" value="4" />
                <label for="star34"></label>
                <input type="radio" id="star35" name="rating3" value="5" />
                <label for="star35"></label>
              </div>
            </div>
            <div class="star-rating d-flex">
              <div class="d-flex">
                <input type="checkbox" name="firstrating" />
              </div>

              <div class="star-container ms-2">
                <input type="radio" id="star41" name="rating4" value="1" />
                <label for="star41"></label>
                <input type="radio" id="star42" name="rating4" value="2" />
                <label for="star42"></label>
                <input type="radio" id="star43" name="rating4" value="3" />
                <label for="star43"></label>
                <input
                  type="radio"
                  id="star44"
                  name="rating4"
                  value="4"
                  checked
                />
                <label for="star44"></label>
                <input type="radio" id="star45" name="rating4" value="5" />
                <label for="star45"></label>
              </div>
            </div>
            <div class="star-rating d-flex">
              <div class="d-flex">
                <input type="checkbox" name="firstrating" />
              </div>

              <div class="star-container ms-2 ">
                <input type="radio" id="star51" name="rating5" value="1" />
                <label for="star51"></label>
                <input type="radio" id="star52" name="rating5" value="2" />
                <label for="star52"></label>
                <input type="radio" id="star53" name="rating5" value="3" />
                <label for="star53"></label>
                <input type="radio" id="star54" name="rating5" value="4" />
                <label for="star54"></label>
                <input
                  type="radio"
                  id="star55"
                  name="rating5"
                  value="5"
                  checked
                />
                <label for="star55"></label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column ">
        <div>
          <p>Product Type</p>
        </div>
        <hr />
        <div class="side_column_thirdbox">
          <div class="ms-2">
            <input
              type="checkbox"
              id="product1"
              name="Product"
              value="Experince"
              class="me-2"
            />
            <label for="product1">Experince</label>
          </div>
          <div class="ms-2">
            <input
              type="checkbox"
              id="product2"
              name="Product"
              value="Monetisation"
              class="me-2"
            />
            <label for="product2">Monetisation</label>
          </div>
          <div class="ms-2">
            <input
              type="checkbox"
              id="product3"
              name="Product"
              value="Technology"
              class="me-2"
            />
            <label for="product2">Technology</label>
          </div>
          <div class="ms-2">
            <input
              type="checkbox"
              id="product4"
              name="Product"
              value="Content"
              class="me-2"
            />
            <label for="product4">Content</label>
          </div>
          <div class="ms-2">
            <input
              type="checkbox"
              id="product5"
              name="Product"
              value="Infrastructure"
              class="me-2"
            />
            <label for="product5">Infrastructure</label>
          </div>
        </div>
      </div>
      <div class="d-felx flex-column">
        <div>
          <p>Status</p>
        </div>
        <hr />
        <div class="side_column_fourthbox ms-2 ">
          <input
            type="checkbox"
            id="online"
            name="status"
            value="Active"
            class="me-2"
          />
          <label for="online"> Active</label>
        </div>
      </div>
    </div>
    <div class="product_listing_right ">
      <!-- <div class="d-flex ">
        <div class="d-flex  right_head_left">
          <p
            [style.color]="selectedWord"
          >
            Products
          </p>
          <p

          >
            Solutions
          </p>
          <p

          >
            Marketplaces
          </p>
        </div>
        <div class="d-flex">
          <div class="d-flex ms-5 me-5">
            <img src="../../../../../assets/images/configure/Grid.svg" />
            <img src="../../../../../assets/images/configure/Map Fold.svg" />
          </div>
          <div class="d-flex gap-2 ms-5 me-5">
            <p class="mt-1" [style.color]="selectedWord">Sort</p>
            <img
              src="../../../../../assets/images/configure/Sort_Descending.svg"
            />
          </div>
          <div class="d-flex gap-2 ms-2 me-5">
            <p class="mt-1" [style.color]="selectedWord">Search</p>
            <img
              src="../../../../../assets/images/configure/Interface_Search.svg"
            />
          </div>
        </div>
      </div>
      <div class="proudct_listing_image">
        <img src="../../../../../assets/images/configure/image_crop.png" />
      </div> -->
      <div>
        <div class="d-flex justify-content-between">
          <div class="d-flex right_headng_col1">
            <p [style.color]="selectedWord">Products</p>
            <p>Solutions</p>
            <p>Marketplaces</p>
          </div>
          <div class="d-flex right_heading_col2">
            <img src="../../../../../assets/images/configure/Grid.svg">
            <img src="../../../../../assets/images/configure/Map Fold.svg">
          </div>
          <div class="d-flex right_heading_col3 me-2">
            <div class="d-flex gap-2"><p [style.color]="selectedWord">Sort</p> <span><img src="../../../../../assets/images/configure/Sort_Descending.svg"></span></div>
            <div class="d-flex gap-2"> <p [style.color]="selectedWord">Search</p> <span><img src="../../../../../assets/images/configure/Interface_Search.svg"></span></div>
          </div>

        </div>
       <div class="right_heading_img">
        <img src="../../../../../assets/images/configure/image_crop.png">
       </div>

      </div>
    </div>
  </div>
  <div class="color_picker">
  <app-colorpicker (colorChange)="onColorChange($event)"></app-colorpicker>
  </div>
</div>
