.sidebar-container{
    width: 64px;
    height: 100vh;
    background: #ffffff;
    // position: relative;
    z-index: 9999;
}

.main-container {
    position: relative;
    width: 95%;
    overflow: hidden;
}

// .main-container{
//     background: red($color: #000000);
// }

.landing-page{
    display: flex;
    width: 100%;
}

.expand{
    width: 448px;
}

.asidebar{
    transition: all 0.5s;
}

// .sidebar-container2{
//     width: calc(100% - 64px);
// }

// .expand2{
//     width: calc(100% - 448px);
// }

.show{
    visibility: initial !important;
}

.hide{
    visibility: hidden !important;
}