*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.Product_page_heading{

  height: 2.25rem;
  margin-bottom: 1rem;
}
.Product_page_main{
  width: 39rem;
  height: 28rem;
  margin-bottom: 1.5rem;
}
.Product_page_colorpicker{


}

app-colorpicker{
  width: 39rem;
  height: 3rem;
}


