<section>
    <div class="configure_sidebar">
        <div class="configure_sidebar-upperdiv">
            <ul class="configure_sidebar_ul">
                <li (click)="changeContent('general-bussiness')" [ngClass]="{'active': selectedContent == 'general-bussiness'}">
                    <a>
                        <span>*</span><span>Marketplace Business Proposition</span>
                    </a>
                </li>
                <li (click)="changeContent('general-bussiness-info')" [ngClass]="{'active': selectedContent == 'general-bussiness-info'}">
                    <a>
                        <span>01</span><span>General Business Info</span>
                    </a>

                </li>
                <li class="custom-bullet">
                    <a>
                       <span>My Organisation</span>
                    </a>
                </li>
                <li (click)="changeContent('govebfner')">
                    <a>
                        <span>02</span><span>Governance</span>
                    </a>
                </li>
                <li class="custom-bullet">
                    <a>
                       <span>Tenant Behaviour</span>
                    </a>
                </li>
                <li class="custom-bullet">
                    <a>
                       <span>User Behaviour</span>
                    </a>
                </li>
                <li class="custom-bullet">
                    <a>
                        <span>My Organisation</span>
                    </a>
                </li>
                <li class="custom-bullet">
                    <a>
                        <span>Area of Operation</span>
                    </a>
                </li>   <li>
                    <a>
                        <span>03</span><span>Appearance</span>
                    </a>
                </li>
                <li class="custom-bullet" (click)="changeContent('login')">
                    <a>
                        <span>Login Page</span>
                    </a>
                </li>
                <li class="custom-bullet" (click)="changeContent('error')"  [ngClass]="{'active': selectedContent == 'error'}">
                    <a>
                        <span>404 Error Page</span>
                    </a>
                </li>
                 <li class="custom-bullet">
                    <a>
                       <span>Product Page</span>
                    </a>
                </li>
                <li class="custom-bullet" (click)="changeContent('productlisting')"  [ngClass]="{'active': selectedContent == 'productlisting'}">
                    <a>
                       <span>Product Listing</span>
                    </a>
                </li>
                <li >
                    <a>
                      <span>04</span><span>Billing</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="configure_sidebar-lowerdiv">
            <img src="assets/images/configure/configure-sidebar.png" />
        </div>
    </div>
    <div class="configure_content">
        <ng-container *ngComponentOutlet="getContentComponent(selectedContent)"></ng-container>
    </div>
</section>
