<section>
    <div class="configure_sidebar">
        <div class="configure_sidebar-upperdiv">
            <ul class="configure_sidebar_ul">
                <li (click)="changeContent('general-bussiness')" [ngClass]="{'active': selectedContent == 'general-bussiness'}">
                    <a>
                        <span>*</span><span class="pl-2px">Marketplace Business Proposition</span>
                    </a>
                </li>
                <li (click)="changeContent('general-bussiness-info')" [ngClass]="{'active': selectedContent == 'general-bussiness-info'}">
                    <a>
                        <span>01</span><span class="pl-2px">General Business Info</span>
                    </a>

                </li>
                <li class="custom-bullet">
                    <a>
                       <span>My Organisation</span>
                    </a>
                </li>
                <li (click)="changeContent('governance')" [ngClass]="{'active': selectedContent == 'governance'}">
                    <a>
                        <span>02</span><span class="pl-2px">Governance</span>
                    </a>

                </li>
                <li class="custom-bullet" (click)="changeContent('tenant-behaviour')" [ngClass]="{'active': selectedContent == 'tenant-behaviour'}">
                    <a>
                       <span>Tenant Behaviour</span>
                    </a>
                </li>
                <li class="custom-bullet" (click)="changeContent('alliance-behaviour')" [ngClass]="{'active': selectedContent == 'alliance-behaviour'}">
                    <a>
                       <span>Alliance Behaviour</span>
                    </a>
                </li>

                <li class="custom-bullet" (click)="changeContent('user-behaviour')" [ngClass]="{'active': selectedContent == 'user-behaviour'}">
                    <a>
                       <span>User Behaviour</span>
                    </a>
                </li>
                <li class="custom-bullet">
                    <a>
                        <span>My Organisation</span>
                    </a>
                </li>
                <li class="custom-bullet">
                    <a>
                        <span>Area of Operation</span>
                    </a>
                </li>
                 <li (click)="changeContent('apperance')" [ngClass]="{'active': selectedContent == 'apperance'}">
                    <a>
                        <span>03</span><span class="pl-2px"> Appearance</span>
                    </a>
                </li>
                <li class="custom-bullet" (click)="changeContent('login')" [ngClass]="{'active': selectedContent == 'login'}">
                    <a>
                        <span>Login Page</span>
                    </a>
                </li>

                <li class="custom-bullet" (click)="changeContent('marketplacelisting')"  [ngClass]="{'active': selectedContent == 'marketplacelisting'}">
                  <a>
                      <span>Marketplace Listing Page</span>
                  </a>
               </li>
                <li class="custom-bullet" (click)="changeContent('error')"  [ngClass]="{'active': selectedContent == 'error'}">
                    <a>
                        <span>404 Error Page</span>
                    </a>
                </li>
                 <li class="custom-bullet">
                    <a>
                       <span>Product Page</span>
                    </a>
                </li>
                <li class="custom-bullet" (click)="changeContent('productlisting')"  [ngClass]="{'active': selectedContent == 'productlisting'}">
                    <a>
                       <span>Product Listing</span>
                    </a>
                </li>
                <li class="custom-bullet" (click)="changeContent('billing')"  [ngClass]="{'active': selectedContent == 'billing'}" >
                    <a>
                      <span>04</span><span class="pl-2px">Billing</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="configure_sidebar-lowerdiv">
            <img  *ngIf="selectedContent === 'general-bussiness' || selectedContent === 'general-bussiness-info'" src="assets/images/configure/configure-sidebar.png" />
            <img  *ngIf="selectedContent !== 'general-bussiness' && selectedContent !== 'general-bussiness-info'" src="assets/images/configure/Data-Organization.svg" />
            <p  *ngIf="selectedContent === 'general-bussiness'" class="configure_sidebar-lowerdiv-text lowerdiv-width" >Together Better</p>
            <p  *ngIf="selectedContent !== 'general-bussiness'" class="configure_sidebar-lowerdiv-text">Better Tech for Better Inmates</p>
        </div>
    </div>
    <div class="configure_content">
        <ng-container *ngComponentOutlet="getContentComponent(selectedContent)"></ng-container>
    </div>
</section>
