
.upperdiv img,.lowerdiv,.card1{
    width: 100%;
}
.upperdiv img {
    min-height: 200px;;
}
.card1_heading{
    width: 90%;
    color: var(--black);
    font-family: 'Roboto-Medium';
    font-size: 1.2rem;
    line-height: 150%;
    font-weight: 400;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: .5rem;
    letter-spacing: 0.019em;
}
.card1_desc{
    font-family: 'Roboto-medium';
    font-size: .9rem;
    line-height: 150%;
    font-weight: 400;
    width: 90%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    color: var(--grey-1);
    padding: .5rem;
}
.lowerdiv{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: .4rem;
}
