<section class="card-left">
        <h3 class="card-heading">Card Details</h3>

        <div class="details">
            <div class="details-inside">
                <h4 class="heading">Card Nickname</h4>
                <h4 class="name">Primary Card</h4>
            </div>
            <div class="details-inside">
                <h4 class="heading">Bank Name</h4>
                <h4 class="name">ABC CenterBank</h4>
            </div>
        </div>

        <div class="details">
            <div class="details-inside">
                <h4 class="heading">Valid till</h4>
                <h4 class="name">08/21</h4>
            </div>
            <div class="details-inside">
                <h4 class="heading">Card Holder</h4>
                <h4 class="name">Tulika Pandey</h4>
            </div>
        </div>
        <div class="details">
            <div>
                <h4 class="heading">Card name</h4>
                <h4 class="name">**** **** **** 1234</h4>
            </div>
 
        </div>
</section>
