
*{
    margin: 0px;
}
.tablename{
    width: 60rem;
}
th{
    color: rgba(58, 53, 65, 0.87);

/* Light/Components/Table Header */
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 24px;
letter-spacing: 0.17px;
background: #F9FAFC;
text-transform: uppercase;

padding: 16px 16px 16px 20px;
border-right: 2px solid rgba(128, 128, 128, 0.282);


}
.heading{
    color: rgba(58, 53, 65, 0.87);
    padding: 20px; 

/* Light/Typography/H6 */
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 32px;
letter-spacing: 0.15px;
}
.box{
    width: 60rem;

    border-radius: 6px;
background: #FFF;

/* Light/Elevation/Card */
box-shadow: 0px 2px 10px 0px rgba(58, 53, 65, 0.10);
}
.offer{
    width: 20rem;
}
.seat{
    width: 10rem;
}
.avatar{
    width: 2rem !important;
    height: 2rem !important;
    border-radius: 1rem;
    background-color: rgba(128, 128, 128, 0.201);
    margin-right:1rem;
    margin-left:1rem;

    // margin-bottom: 1rem;
}
.first{
    display: flex;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    align-items: center;
}
.sec{
    color: rgba(58, 53, 65, 0.87);

/* Dark/Typography/Subtitle 2 */
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 157%;
letter-spacing: 0.1px;
margin: 0px;
}
.third{
    color: rgba(58, 53, 65, 0.68);

/* Dark/Typography/Caption */
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;
margin: 0;
padding: 0;
letter-spacing: 0.4px;
}

.sec1{
    padding-left: 1rem;
    margin-top: 0.5rem;
}

.prog{
    width: 15rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.time{
    padding-left: 1rem;
}