<section>
    <div class="box">
        <h1 class="heading">Subscriptions</h1>

        <table class="tablename">
            <tr >
                <th class="offer">OFFERING</th>
                <th class="seat">SEATS/USERS</th>
                <th class="space">SPACE</th>
                <th class="time">TIME </th>
            </tr>
            <tr>
                <td class="first">
                    <div class="avatar"></div>
                    <div>
                        <p class="sec">Holacracy</p>
                        <p class="third">MXaaS</p>
                    </div>
                </td>
                <td>
                    <p class="sec1">122/240 </p>
                </td>
                <td class="prog"> 
                    <p>78%</p>   
                    <p ><ngb-progressbar [type]="type" [value]="value" [height]="height"></ngb-progressbar></p>
                </td>
                <td class="time" >
                    18:42
                </td>
            </tr>
            <tr>
                <td class="first">
                    <div class="avatar"></div>
                    <div>
                        <p class="sec">Holacracy</p>
                        <p class="third">MXaaS</p>
                    </div>
                </td>
                <td>
                    <p class="sec1">122/240 </p>
                </td>
                <td class="prog"> 
                    <p>18%</p>   
                    <p ><ngb-progressbar type="danger" [value]="18" [height]="height"></ngb-progressbar></p>
                </td>
                <td class="time" >
                    18:42
                </td>
            </tr>
        </table>
    </div>
</section>