<div class="input_select d-flex">
  <div class="input-textarea-bgimg">
    <div class="d-flex">
      <div>
        <span class="mt-2 heading-text">Page Background</span>
      </div>
      <div>
        <p class="mt-2 heading-text">Drag and Drop</p>
        <input
          class="form-controll"
          type="file"
          style="opacity: 0"
          name="Resources"
        />
        <p class="heading-text">or Click here to select Files</p>
      </div>
    </div>
  </div>

  <div class="color_picker d-flex" [style.backgroundColor]="selectedColor">
    <div class="d-flex flex-column">
      <div class="heading"><p class="heading-text">Custom Primary Color</p></div>
      <div class="heading">{{selectedColor}}</div>
    </div>

    <div class="input_color">
      <img class="image-input" src="../../../../../assets/images/rate_card_config/Color_Picker_1.svg"/>
      <input type="color" [(ngModel)]="selectedColor" (ngModelChange)="onColorChange()">
    </div>

  </div>
