<section class="appearence_setting d-flex">
    <div class="appearence_sidebar">
        <div class="upper_div">
                <ul class="appearence_sidebar_ul">
                    <li><span>01</span><span>Featured</span></li>
                    <li><span>02</span><span>Blog Posts</span></li>
                    <li><span>03</span><span>Resources</span></li>
                </ul>
        </div>
        <div class="lower_div">
            <img src="assets/images/Appearance_settings/appearence_sidebar_bottom_img.png"/>
        </div>
    </div>
    <div class="appearence_content">
        <div class="upperdiv d-flex">
            <div class="leftdiv">
                <div class="header">
                        <h1>Broadcast Internet Annual Outlook <br/>2023</h1>
                        <div class="map_img">
                            <img src="../../../assets/images/Appearance_settings/BroadcastInternetAnnualOutlook.png"/>
                        </div>
                </div>
                <div class="header_desc">
                    <h2 class="header_desc_heading">Broadcast Internet Annual Outlook 2023</h2>
                    <p class="header_desc_para">Download the Radio/TV Station annual outlook report here! In this report, five-year revenue projections for each of Nielsen Holdings PLC's 210 U.S. TV Designated Market Areas for 2021-22 and 253 Nielsen Audio rated radio markets as of spring 2022 are presented. </p>
                </div>
            </div>
            <div class="rightdiv">
                <div class="card1" >
                    <app-card1/>
                </div>
                <div class="card2">
                    <app-card2/>
                </div>
            </div>
        </div>
        <div class="lowerdiv">
            <div class="blogpost">
                <h1 class="heading">
                    Blogpost
                </h1>
                <div class="carddiv"  *ngFor="let card of cards" >
                    <app-card2 [cards]="card"/>

                </div>
            </div>
            <div class="resources">
                <h1 class="heading">
                    Resources
                </h1>
                <div class="carddiv"  *ngFor="let card of cards">
                    <app-card2/>
                </div>
            </div>
        
            
        </div>
    </div>
    
</section>