<section class="main">
    <div class="right-side-bar">
        <div class="main-heading">
            <h1>Wallet</h1>
            <img src="../../../../../assets/images/right-sidebar/Popup/Move Right 1.png" alt="">
        </div>
        <hr>
        <app-graphcard ></app-graphcard>
        <br>
        <section style="background-color: white;border-radius: 2rem;">

            <app-leftcomponent></app-leftcomponent>
        </section>

        <section class="card">
            <app-right-component></app-right-component>
        </section>

    </div>
</section>