.user_behaviour-header{
    font-family: 'Roboto-Medium';
    line-height: 2.25rem;
    font-size: 1.5rem;
    color: var(--black);
}

.user_behaviour-body{
    padding-top: 1rem;
}

.user_behaviour-opt_container{
    margin-left: 2.54rem;
    margin-top: 0.5rem;
   
}


.opt_txt{
    font-family: 'Roboto-Regular';
    line-height: 1.5rem;
    color: var(--black);
}

 