/* You can add global styles to this file, and also import other style files */
@import "@fontsource/roboto";

@font-face {
    font-family: 'Roboto-Bold';
    /*700*/
    src: url('../src/assets/font/Roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Black';
    src: url('../src/assets/font/Roboto/Roboto-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Medium';
    /*500*/
    src: url('../src/assets/font/Roboto/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Regular';
    /*400*/
    src: url('../src/assets/font/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-light';
    src: url('../src/assets/font/Roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Snippet';
    src: url('../src/assets/font/Snippet/Snippet-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Black';
    /*700*/
    src: url('../src/assets/font/Roboto/Roboto-Bold.ttf') format('truetype');
}

:root {
    --purple-1: #4D45A9;
    --blue-1: #3C429E;
    --blue-2: #4C52AD;
    --blue-3: #1575E1;
    --yellow-1: #FAC742;
    --white: #FFF;
    --white-1: #F9F9F9;
    --grey-1: #636363;
    --grey-2: #F4F8FB;
    --grey-3: #919DAB;
    --grey-2: #E0E0E0;
    --grey-4: #A2A8AF;
    --grey-5:#8A8D93;
    --grey-6:rgba(58, 53, 65, 0.38);
    --grey-7: #F9FAFC;
    --black: #2C2C2C;
    --black-1: #525252;
    --black-2: #e6e6e6;
    --shadow-light: rgba(255, 255, 255, 0.1);
    --green-font: #163E33;
    --green-bg: #e7f8f5;
    --blue-1: #CCFFFC;
    --blue-2: #81FFF7;
    --purple-2:rgba(230, 229, 239, 1)
    --black-3:rgba(44, 44, 44, 1)
}

body {
    font-family: 'Roboto';

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Roboto';
    font-style: normal;
}

.box-shadow {
    border: none !important;
    box-shadow: 0rem .8rem .8rem .8rem var(--black-2);
    // filter: drop-shadow(0rem .8rem .8rem .8rem var(--black-2));
}

input,
textarea {
    cursor: pointer;
}

.input,
.input-textarea {
    display: flex;
    background-color: var(--white-1);
    border: 3px solid var(--white-1);
    border-right: 3.33px solid var(--purple-1);
    border-radius: .4rem;
    padding: 0 5px;

}

.input-textarea-bgimg {
    background-color: var(--white-1);
    border: 3px solid var(--white-1);
    border-right: 3.33px solid var(--purple-1);
    border-radius: .4rem;
    padding: 0 5px;
    cursor: pointer;
}

.input {
    align-items: center;
    justify-content: center;

}

.input-textarea textarea {
    height: 15vh;
}

.input-textarea-bgimg input {
    // height: 10vh;
    overflow: hidden;
    
}

input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
}

.input input {
    min-height: 45px
}

.input input,
.input-textarea textarea,
.input-textarea-bgimg input {
    width: 100%;
    border: none;
    outline: none;
    background-color: var(--white-1);
}

.input .star,
.input-textarea .star {
    font-size: 3rem;
    padding-top: .8rem;
    line-height: 2.1rem;
    //Do not chnage px to rem it should be fixed everyplace that is why it need px
    width: 35px;
    opacity: .15;
}

.bg-img {
    background-image: url('./assets/images/configure/input-bg-img.png');
    background-position: center;
    height: 10vh;
    background-size: 30%;
    background-repeat: no-repeat;
}

.input-textarea-bgimg p {
    font-size: .85rem;
    line-height: 150%;
    color: var(--black);
    opacity: 0.49;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    margin: .3rem;
}

//radio Toggle
.radio-button input[type="radio"] {
    display: none;
}

.radio-button label {
    display: inline-block;
    color: var(--white);
    border-radius: 14px;
    background: var(--grey-4);
    cursor: pointer;
    line-height: 1.25rem;
    letter-spacing: -0.176px;
    padding: 0.25rem 0.9rem;
    margin-right: 0.5rem;
    font-family: 'Roboto-Regular';
}

.radio-button input[type="radio"]:checked+label {
    background-color: var(--blue-3);
}

//slider toggle------------------------------------
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: gray;
    transition: .1s;
    border-radius: 4px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.5em;
    width: 0.75em;
    border-radius: 4px;
    border: 1px solid #1575E1;
    left: 0em;
    bottom: 0em;
    background-color: white;
    transition: .1s;
}

input:checked+.slider {
    background: #1575E1;
    border-radius: 4px;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    transform: translateX(1em);
    border-radius: 4px;
}

.switch {
    transform: rotate(90deg);
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    overflow: hidden;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

//-------------------------------
#governance-currency {
    line-height: 1.5rem;
    font-size: 0.75rem;
    opacity: 0.699999988079071;
    color: var(--black);

}



//checkbox selection ------------------------------------------------
.check-button input[type="checkbox"] {
    display: none;
}

.check-button label {
    display: inline-block;
    color: var(--white);
    border-radius: 14px;
    background: var(--grey-4);
    cursor: pointer;
    line-height: 1.25rem;
    letter-spacing: -0.176px;
    padding: 0.25rem 0.9rem;
    margin-right: 0.5rem;
    font-family: 'Roboto-Regular';
}

.check-button input[type="checkbox"]:checked+label {
    background-color: var(--blue-3);
}




//select button dropdown
.dropdown {
    padding: 7%;
    width: 100%;
    background-color: var(--white-1);
    min-height: 47px;
    border: 2px solid var(--purple-1);
    border-radius: .5rem;
    cursor: pointer;
}

.dropdownButton {
    width: 75%;
    margin: 20%;
}