/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Roboto-Bold';/*700*/
    src: url('../src/assets/font/Roboto/Roboto-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Black';
    src: url('../src/assets/font/Roboto/Roboto-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Medium';/*500*/
    src: url('../src/assets/font/Roboto/Roboto-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Regular';/*400*/
    src: url('../src/assets/font/Roboto/Roboto-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-light';
    src: url('../src/assets/font/Roboto/Roboto-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Snippet';
    src: url('../src/assets/font/Snippet/Snippet-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Black';/*700*/
    src: url('../src/assets/font/Roboto/Roboto-Bold.ttf') format('truetype');
}

:root{
    --purple-1:#4D45A9;
    --blue-1:#3C429E;
    --blue-2:#4C52AD;
    --blue-3:#1575E1;
    --yellow-1:#FAC742;
    --white:#FFF;
    --white-1:#F9F9F9;
    --grey-1:#636363;
    --grey-2:#F4F8FB;
    --grey-3:#919DAB;
    --grey-2:#E0E0E0;
    --grey-4: #A2A8AF;
    --black:#2C2C2C;
    --black-1:#525252;
    --black-2:#e6e6e6;
    --shadow-light:rgba(255,255,255,0.1);
    --green-font:#163E33;
    --green-bg:#e7f8f5;
    --grey-4:#FFF;
    --blue-1:#CCFFFC;
    --blue-2:#81FFF7


}

body{
    font-family: 'Roboto-Reguler';

}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Roboto-light';
    font-style:  normal;
}

.box-shadow{
    border: none !important;
    box-shadow: 0rem .8rem .8rem .8rem var(--black-2);
    // filter: drop-shadow(0rem .8rem .8rem .8rem var(--black-2));
}
input, textarea{
   cursor: pointer;
}
.input,.input-textarea{
    display: flex;
    background-color:var(--white-1);
    border: 3px solid var(--white-1);
    border-right:3.33px solid var(--purple-1);
    border-radius: .4rem;
    padding:0 5px;

}
.input-textarea-bgimg{
    background-color:var(--white-1);
    border: 3px solid var(--white-1);
    border-right:3.33px solid var(--purple-1);
    border-radius: .4rem;
    padding:0 5px;
}
.input{
    align-items: center;
    justify-content: center;

}
.input-textarea textarea{
    height: 15vh;
}
.input-textarea-bgimg input{
    // height: 10vh;
    overflow: hidden;
}
input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
}
.input input{
    min-height:45px
}
.input input,.input-textarea textarea,.input-textarea-bgimg input{
    width: 100%;
    border: none;
    outline: none;
    background-color: var(--white-1);
}

.input .star,.input-textarea  .star {
    font-size:3rem;
    font-family: 'Roboto-Medium';
    padding-top: .8rem;
    line-height: 2.1rem;
    //Do not chnage px to rem it should be fixed everyplace that is why it need px
    width:35px;
    opacity: .15;
}
.bg-img{
   background-image: url('./assets/images/configure/input-bg-img.png'); 
   background-position: center ;
   height: 10vh;
   background-size: 30%;
   background-repeat: no-repeat;
}

.input-textarea-bgimg p{
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    margin: 0;
}
