<div class="d-flex flex-column  sidebar ">

  <div class="bar_secondiv ">
    <div class="d-flex flex-column seconddiv_image">
      <img src="../../../../assets/images/configure/Shopping Store Signage 3.svg">
      <img src="../../../../assets/images/configure/Workflow Teamwork Handshake.svg">
      <img src="../../../../assets/images/configure/Mail Chat Bubble Typing Square.svg">
      <img src="../../../../assets/images/configure/Horizontal Slider 2.svg">

    </div>
    <hr>
    <div class="d-flex flex-column  secondiv_image2 mt-3">

      <img src="../../../../assets/images/configure/Shipping Box 2.svg">
      <img src="../../../../assets/images/configure/Workflow Coaching Product Catalog.svg">
      <img src="../../../../assets/images/configure/File Dollar.svg">
      <img src="../../../../assets/images/configure/Money Cash Dollar Coin.svg">
      <img src="../../../../assets/images/configure/Frame 1000002223.svg">
    </div>
    <hr>
    <div class="secondiv_image3">
      <div>
        <img   src="../../../../assets/images/configure/Ellipse 2297.png">

      </div>
      <div class="secondiv_image3_para">
        <p>Powered by</p>

      </div>
      <div >
        <img  src="../../../../assets/images/configure/image.png">

      </div>



    </div>

  </div>



</div>
